{$PROJEX_HOSTNAME} {
  encode zstd gzip

  @nativeGit path /api/v1/git/*
  respond @nativeGit 404

  handle /api/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    root * {$PROJEX_CLIENT_ROOT}
    try_files {path} /index.html
    file_server
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    X-Frame-Options "DENY"
    Content-Security-Policy "default-src 'self'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'"
  }
}
